@{
    ViewData["Title"] = "GET- Aplication";
}
<div id="telaprincipal" class="container font-weight-bold">
    <h1>RETORNANDO REPOSITÓRIOS DO GITHUB</h1>
    <h2>Para retornar Repositórios do github basta adicionar /repositorios e o nome com barra ao fim da url</h2>
    <h3>Exemplo: https://localhost:44334/repositorios/marceloarauj</h3>
</div>