@{
    var user = ViewBag.Repositorio;
}

<div class="container">

    <table class="table table-dark table-hover align-items-center">
        <thead>
            <tr>
                <td >Repositórios</td>
            </tr>
        </thead>
        <tbody id="reps"></tbody>
        <p id="chave" class="col-11">@user.Id</p>
    </table>
</div>


